<!-- Footer -->
<footer>
  <div class="container text-center">
    <p> &copy; 2018-20{{ site.time | date: '%y' }}  {{ site.footer }} {% t auto.key_3_180639925  %} {% comment %}版权所有{% endcomment %}</p>
    <p>
      <a href="http://www.miit.gov.cn">{{ site.icp-miit }}</a>
      <img src="img/beian.png" style="-webkit-filter: grayscale(60%); -moz-filter: grayscale(60%);  -ms-filter: grayscale(60%);  -o-filter: grayscale(60%); filter: grayscale(60%);" />
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{ site.beian-gov-code }}" > {{ site.beian-gov }} </a>
    </p>
  </div>
</footer>
