<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <!-- <i class="fa fa-play-circle"></i>  <span class="light">Start</span> -->
      </a>
    </div>

    <!-- Preload images for performance -->
    <div id="preloaded-images">
      <img src="/img/intro-bg.jpg" width="1" height="1" alt="Intro BG" />
      <img src="/img/downloads-bg.jpg" width="1" height="1" alt="Downloads BG" />
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">{% t auto.key_4_962268177  %} {% comment %}关于{% endcomment %}</a>
        </li>
        <li>
          <a class="page-scroll" href="#download">{% t auto.key_5_232822105  %} {% comment %}下载{% endcomment %}</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">{% t auto.key_6_687207969  %} {% comment %}联系我们{% endcomment %}</a>
        </li>
        <!-- <li>
          <a class="page-scroll" href="{% t link.base %}privacy">privacy</a>
        </li> -->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
