<link rel="stylesheet" href="{{ "/css/footer.css" | prepend: site.baseurl }}">
<footer class="bg-footer text-footer md:pl-23.5 md:pr-19.5">
  <div class="md:flex justify-between md:py-21 md:pr-5.5 mb-v50 md:mb-0">
    <div class="md:flex footer-menu lanying-menu">
      <div class="footer-submenu lanying-submenu">
        <p class="footer-submenu-title lanying-submenu-title md:text-lg text-footer-title md:mb-5.5">{% t auto.key_7_458476360  %} {% comment %}商务{% endcomment %}</p>
        <ul class="footer-submenu-box lanying-submenu-box">
          <li class="footer-submenu-item md:text-sm md:mb-3.5"><a href="{% t link.base %}about/">{% t auto.key_8_731989943  %} {% comment %}公司简介{% endcomment %}</a></li>
          <li class="footer-submenu-item md:text-sm md:mb-3.5"><a href="{% t link.base %}contact/">{% t auto.key_9_127788799  %} {% comment %}企业级合作{% endcomment %}</a></li>
          <li class="footer-submenu-item md:text-sm"><a href="tel:4006660162">400-666-0162</a></li>
        </ul>
      </div>
  
      <div class="footer-submenu lanying-submenu md:ml-30">
        <p class="footer-submenu-title lanying-submenu-title md:text-lg text-footer-title md:mb-5.5">{% t auto.key_10_533739686  %} {% comment %}即时通讯云{% endcomment %}</p>
        <ul class="footer-submenu-box lanying-submenu-box">
          <li class="footer-submenu-item md:text-sm md:mb-3.5"><a href="{% t link.base %}product/">{% t auto.key_11_873679191_2  %} {% comment %}产品功能{% endcomment %}</a></li>
          <li class="footer-submenu-item md:text-sm md:mb-3.5"><a href="{% t link.base %}plans/">{% t auto.key_12_012554623  %} {% comment %}定价{% endcomment %}</a></li>
          <li class="footer-submenu-item md:text-sm"><a href="{% t link.base %}developer/">{% t auto.key_13_064382932  %} {% comment %}开发者中心{% endcomment %}</a></li>
        </ul>
      </div>
  
      <div class="footer-submenu lanying-submenu md:ml-30">
        <p class="footer-submenu-title lanying-submenu-title md:text-lg text-footer-title md:mb-5.5">{% t auto.key_14_996688898  %} {% comment %}支持{% endcomment %}</p>
        <ul class="footer-submenu-box lanying-submenu-box">
          <li class="footer-submenu-item md:text-sm md:mb-3.5"><a href="https://github.com/maxim-top/maxims-bistro/issues" target="_blank">{% t auto.key_14_996688898_2  %} {% comment %}支持{% endcomment %}</a></li>
          <li class="footer-submenu-item md:text-sm"><a href="https://console.lanyingim.com/">{% t auto.key_15_582705616  %} {% comment %}运行状态查询{% endcomment %}</a></li>
        </ul>
      </div>
    </div>

    <div class="flex flex-col-reverse md:flex-row items-center pt-v80 md:pt-0">
      <div class="flex md:flex-col footer-apps">
        <a href="https://weibo.com/maximtop/" target="_blank">
          <img class="w-v60 md:w-10" src="/img/social/logo.weibo.png" />
        </a>
        <a class="md:mt-3" href="https://mp.weixin.qq.com/s/PHbjk11w_5fwutW7MALWHg" target="_blank">
          <img class="w-v60 md:w-10" src="/img/social/logo.wechat.png" />
        </a>
        <a class="md:mt-3" href="https://www.zhihu.com/org/mei-xin-tuo-bu" target="_blank">
          <img class="w-v60 md:w-10" src="/img/social/logo.zhihu.png" />
        </a>
      </div>
      <img class="w-v280 md:w-35.5 md:ml-9" src="/img/wechat/public.png" alt="" />
    </div>
  </div>
  <div class="hidden md:block h-px bg-footer-line"></div>
  <div class="text-footer-bottom text-v24 md:text-sm py-v30 md:pt-3 md:pb-4 text-center md:text-left">
    <span>© 2019-2022 {% t auto.key_2715_506734340  %} {% comment %}美信拓扑{% endcomment %}</span>
    <span class="s">|</span>
    <a href="#">{% t auto.key_17_079359251  %} {% comment %}京ICP备19033149号{% endcomment %}</a>
    <span class="s">|</span>
    <a href="#">{% t auto.key_18_317300313  %} {% comment %}京公网安备 11010502039228号{% endcomment %}</a>
    <span class="s">|</span>
    <!-- <a href="#">ICP{% t auto.key_1918_380708501  %} {% comment %}证书{% endcomment %}</a>
    <span class="s">|</span> -->
    <a href="{% t link.base %}privacy/">{% t auto.key_19_412774227  %} {% comment %}隐私政策{% endcomment %}</a>
    <span class="s">|</span>
    <a href="{% t link.base %}terms/">{% t auto.key_20_568488596  %} {% comment %}使用条款{% endcomment %}</a>
  </div>
</footer>
<!-- WPA start -->
<script id="qd28857710170a435d2f579aed2c2b579190f40eaffc" src="https://wp.qiye.qq.com/qidian/2885771017/0a435d2f579aed2c2b579190f40eaffc" charset="utf-8" async defer></script>
<!-- WPA end -->