<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="{% t auto.key_21_354966174  %} {% comment %}一键开通即时通讯公有云，一键安装即时通讯私有云，一键部署即时通讯专有云，快速集成，简单专业{% endcomment %}" />
    <meta name="Keywords"
          content="{% t auto.key_22_205049233  %} {% comment %}美信拓扑, IM SDK, 即时通讯, 即时通讯云, IM云服务,
          移动IM, 开源IM, 企业IM, 聊天软件, 移动客服, 在线客服, IM业务场景, APP社交,
          开发者服务, 直播聊天室, 实时音视频, 音视频, 直播平台, 美信反垃圾, 内容安全{% endcomment %}" />
    <meta name="Keywords" content="{% t auto.key_23_359688712  %} {% comment %}多云架构, 私有云, 一键部署, 一键安装, 即时通讯私有云, 方便定制, 开通私有云{% endcomment %}" />
    <meta name="Keywords" content="{% t auto.key_24_021374791  %} {% comment %}全球通连, 海外, 跨集群部署, 全球数据中心, 业务定制, 即时通讯公有云, 方便定制, 开通专有云{% endcomment %}" />
    <meta name="Keywords" content="{% t auto.key_25_779522762  %} {% comment %}消息云端存储, 多设备同步, 消息漫游, 云存储, 开放平台, 应用客户端{% endcomment %}" />
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="{{ "/css/common.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/index.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/snav.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/price.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/doc.css" | prepend: site.baseurl }}">

    <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>
    <script>{% include index.js %}</script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: 'https://www.lanyingim.com' }}">
    <title>{% t auto.key_26_430117647  %} {% comment %}蓝莺 IM - 专业SDK，私有云按月付费{% endcomment %}</title>
</head>
