$nav-sticky-color: #303030;
$nav-drop-menu-title: #989898;
$nav-link-active: #35DDE8;
$part-title-count: #FF5050;
$part-link-1: #969696;
$part-link-2: #2354F2;
$footer-title: #B3B3B3;
$footer-bottom: #676767;
$footer-link: #DFDFDF;
$footer-line: #5C5C5C;
$tab-active: #1923CD;
$plans-card-desc: #2B2B2B;
$plans-card-price: #FF3F00;
$down-m1: #4B61C4;

$part-free: #30D2C4;
$part-bussiness: #0977EE;
$part-proprietary: #1328F4;
$part-previte: #602BD9;
$part-company: #000000;
$down-link: #3A7DC6;
$sea-virtue: #3C4EBC;

$header-back: #3449C6;
$menu-back: #282B38;
$part-back: #F8F8F8;
$part-back-1: #F6F6F6;
$menu-title-back: #F5F5F5;
$table-zebra-back: #FCFDFD;
$footer-back: #282B38;
$footer-menu-back: #1C1F29;
$doc-detail-back: #506BF3;
$card-back-1: linear-gradient(90deg, #2E8EF9 0%, #3F6CF1 100%);
$card-back-2: linear-gradient(90deg, #30B0D1 0%, #3C9CEB 100%);
$card-back-3: linear-gradient(90deg, #783ED4 0%, #5631E7 100%);
$card-back-4: linear-gradient(90deg, #F07D56 0%, #E37441 100%);
$dev-back: linear-gradient(90deg, #0CBDD4 0%, #00A6FF 100%);
$down-back-install: linear-gradient(270deg, #3D8FFF 0%, #37A9F7 100%);
$down-back-setup: linear-gradient(90deg, #61BAF7 0%, #58BDF5 100%);
$down-part-back: linear-gradient(270deg, #3170F4 0%, #5E61E8 100%);;
$down-card-back: #FBFBFB;
$down-m1-back: #E5ECF4;

$table-tr-border: #DBDBDB;
$down-card-order: rgba(0,0,0,0.12);
$down-version-back: rgba(0,0,0,0.06);

$nav-drop-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.5);
$info-custom: linear-gradient(90deg, #2DD5A0 0%, #20C3E2 100%);
$api-quote: linear-gradient(90deg, #1CA5FF 0%, #3E42FF 100%);
$doc-linear: linear-gradient(180deg, #F4F4F4 0%, #F1F1F1 100%);