<!DOCTYPE html>
<html lang="en">

{% include nhead.html %}

<body style="min-width:1250px;">
  <div class="sheader text-white">
    {% include snav.html %}

    <div class="marquee h490">
      <div class="mqfrm">

        <div class="w1200 h200 auto">
          <p id="sa1" class="aat fbig fw3 pt210 tc">{% t auto.key_49_270723883  %} {% comment %}一键安装 即时通讯 私有云{% endcomment %}</p>
          <p id="sa2" class="aat fs16  pt70 fw3 tc">{% t auto.key_50_292459892  %} {% comment %}自主可控，方便定制，10分钟安装，按月付费 🔥{% endcomment %}</p>
        </div>

      </div>
    </div>
  </div>

  <div class="section auto" style="width:980px;">
    <p class="fbig tc pt25">{% t auto.key_8_731989943  %} {% comment %}公司简介{% endcomment %}</p>
    <div class="ftxt tc mt25">
      <p class="ftext lh30">{% t auto.key_51_964602857  %} {% comment %}北京美信拓扑科技有限公司是专业的即时通讯云服务商。通过为企业和开发者提供专业好用的 IM SDK，分享业界领先的跨平台即时通讯技术，致力于打造协作共赢的即时通讯生态。{% endcomment %}</p>
      </br>
      <p class="ftext lh30">{% t auto.key_52_052210958  %} {% comment %}团队拥有十多年即时通讯行业经验，已成功上线新一代的基于多云架构的即时通讯云服务。{% endcomment %}</p>
      </br>
      <p class="ftext lh30">{% t auto.key_53_236303095  %} {% comment %}使用蓝莺IM，不管是云服务还是私有部署，都可以在控制台一键操作配置，并原生提供平滑迁移，让企业在不同发展阶段均能享受专业而不间断的服务。{% endcomment %}</p>
    </div>

    <div class="fs0 pt45 hidden">
    </div>
  </div>


  {% include nfooter.html %}

</body>

</html>
