<!DOCTYPE html>
<html>

{% include nhead.html %}

<body style="min-width: 100px !important;">
  <style>
    body {
      margin: 0;
      /* padding: 10px 20px; */
      color: #4f4f4f;
      line-height: 21px;
    }

    .title {
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      color: black;
    }

    .manualEntry {
      font-weight: 400;
    }

    .t {
      font-weight: bold;
      margin-top: 10px;
    }

    .t1 {
      text-indent: 24px;
    }

    .t2 {
      text-indent: 48px;
    }

    a {
      color: rgb(52, 117, 192);
      text-decoration: none;
    }
  </style>
  <div class="title pt30">{% t auto.key_433_509187237  %} {% comment %}美信拓扑服务条款{% endcomment %}</div>
  <div class="panel-group" id="faq-collapse" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default" style="padding: 20px;">
      <p> {% t auto.key_434_285073619  %} {% comment %}美信拓扑服务是北京美信拓扑科技有限公司{% endcomment %}

        {% t auto.key_435_490646279  %} {% comment %}（下称“本公司”或“美信拓扑”）向美信拓扑客户提供的“互联网云服务”。本服务条款是美信拓扑客户与本公司之间的协议。欢迎您使用本公司提供的美信拓扑服务，在您注册成为美信拓扑客户之前，您已充分阅读、理解并接受本协议的全部内容，一旦您选择“我已阅读并同意”并完成注册，即表示您同意遵循本协议之所有约定。如果您不接受本条款，请不要安装、使用、注册或以其他方式访问我们的服务。{% endcomment %}
      </p>

      <p class="t">{% t auto.key_436_412627944  %} {% comment %}1、服务条款的确认和接受{% endcomment %}</p>
      <p class="t1">{% t auto.key_437_932562131  %} {% comment %}（1）本公司向美信拓扑客户提供美信拓扑服务，有关美信拓扑服务的具体内容、详细介绍请详见美信拓扑官方网站（以下简称“美信拓扑平台”）：{% endcomment %}<a href="https://www.lanyingim.com"
          target="_blank">www.lanyingim.com</a>。</p>
      <p class="t1">
        {% t auto.key_438_254908724  %} {% comment %}（2）本服务条款内容包括条款正文、美信拓扑服务已经发布的或将来可能发布的各类规则及本公司对前述条款正文、各类规则不时所做的修改和补充。所有规则及对本条款正文和规则所做的修改和补充为本条款不可分割的组成部分，与条款正文具有同等效力。除另行明确声明外，您使用美信拓扑服务的行为都应当受本服务条款约束。{% endcomment %}
      </p>

      <p class="t1">{% t auto.key_439_649229919  %} {% comment %}（3）美信拓扑服务的内容由本公司根据实际情况提供给美信拓扑客户，本公司保留随时修改本服务条款的权利，并会在修改后于本页面公布修改后的文本，因此，请您经常查看本页。{% endcomment %}</p>
      <p class="t1">{% t auto.key_440_326559995  %} {% comment %}（4）本服务条款一经修改，如果您选择继续使用美信拓扑服务，就视同接受本公司对本服务条款的修改。{% endcomment %}</p>
      <p class="t">{% t auto.key_441_190988180  %} {% comment %}2、使用守则{% endcomment %}</p>
      {% t auto.key_442_485953830  %} {% comment %}为有效保障您使用美信拓扑服务的合法权益，您理解并同意接受以下条款：{% endcomment %}
      <p class="t1">{% t auto.key_443_925218756  %} {% comment %}（1）您了解并同意本公司可单方面修改本服务条款，而无须征得您的同意，服务条款应以您使用服务时的页面提示为准，您同意并遵照服务条款是您使用美信拓扑服务的前提。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_444_441330618  %} {% comment %}（2）本公司会以电子邮件方式通知您服务进展情况以及提示您进行下一步操作，但本公司不保证您能及时收到该邮件，且不对此承担任何后果，因此，在使用美信拓扑服务过程中，您应当及时登录到本网站查看和进行相关操作。因您没有及时查看服务状态，未能及时提交相关申请和对服务状态进行修改与确认，导致的任何纠纷或损失，本公司不承担任何责任。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_445_027161484  %} {% comment %}（3）在您使用美信拓扑服务时，本公司有权依照本服务条款、相应的服务收费介绍、订单或相关协议向您收取服务费用。{% endcomment %}</p>
      <p class="t1">{% t auto.key_446_141969550  %} {% comment %}（4）在未经本公司授权的情况下，您不得将美信拓扑服务能力、技术等用于任何商业活动。{% endcomment %}</p>
      <p class="t1">{% t auto.key_447_418325356  %} {% comment %}（5）如果您提供的资料或信息包含有不正确、不真实的信息，本公司保留取消您的客户资格并随时结束为您提供服务的权利。{% endcomment %}</p>
      <p class="t">{% t auto.key_448_425613046  %} {% comment %}3、客户的权利与义务{% endcomment %}</p>
      <p class="t1">{% t auto.key_449_288106174  %} {% comment %}（1）您应对您在美信拓扑网站申请并取得的账户（以下简称“美信拓扑账户”）负责，只有您本人可以使用您的美信拓扑账户，该账户不可转让、不可赠与、不可继承。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_450_542103004  %} {% comment %}（2）您应对使用美信拓扑账户及密码进行的一切操作及言论承担全部责任。您应同意本公司通过您的美信拓扑账户用户名和密码识别您的身份，请您妥善保管您的美信拓扑账户用户名和密码，对于因用户名或密码泄露所致的损失，由您自行承担。如您发现有他人冒用或盗用您的美信拓扑账户及密码或任何其他未经合法授权之情形时，应立即以本公司官网公布的联系方式通知本公司，要求本公司暂停您的美信拓扑服务，同时，您应理解本公司对您的请求采取行动需要合理期限，在此之前，本公司对已执行的指令及所导致的您的损失不承担任何责任。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_451_086009650  %} {% comment %}（3）您有权利享受美信拓扑提供的服务，并获得美信拓扑的技术支持，服务内容详见相关产品介绍。{% endcomment %}</p>
      <p class="t1">{% t auto.key_452_527144909  %} {% comment %}（4）您保证不会利用技术或其他手段破坏扰乱美信拓扑和美信拓扑其他客户，以及分支服务的网站和服务。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_453_744485452  %} {% comment %}（5）您需自行对发送信息等行为承担一切责任，本公司没有对美信拓扑客户所发送的内容有过滤或审核的义务，也不承担任何审查、审核、监督的责任或其他连带责任。如因您的行为给本公司造成损失，您需承担相应的法律责任，本公司保留通过法律途径索赔的权利。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_454_409654090  %} {% comment %}（6）您不得对美信拓扑服务的SDK进行修改、二次创作、反编译或反向工程，或采取其他提取源代码的尝试以及实施任何涉嫌侵害美信拓扑知识产权的行为，除非美信拓扑给予您明确的书面授权。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_455_856999491  %} {% comment %}（7）开发并正式发布的其它任何由美信拓扑服务衍生的商业软件和服务均需经过本公司授权，本公司有权停止未经授权的衍生商业软件和服务并向其开发方提出赔偿要求。下载、安装、使用未经本公司授权的衍生商业软件和服务，将可能导致不可预知的风险，由此产生的一切法律责任与纠纷与本公司无关。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_456_822381051  %} {% comment %}（8）您应尊重美信拓扑及其他第三方的知识产权和其他合法权利，本公司保留您侵犯美信拓扑合法权益时终止向您提供服务并通过法律途径向您索赔的权利。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_457_761316605  %} {% comment %}（9）您要确保提供的联络方式的有效性，以及保证您用于接收美信拓扑电子邮件的电子邮箱的安全性与稳定性，以便能及时收到本公司发送的通知消息，对由于您提供的联络方式有误以及您用于接收本公司邮件的电子邮箱安全性、稳定性不佳而导致的一切后果，您应自行承担责任。{% endcomment %}
      </p>
      <p class="t1">
        {% t auto.key_458_620161893  %} {% comment %}（10）您保证使用美信拓扑服务时将遵从国家、地方法律法规、行业惯例和社会公共道德，不会利用美信拓扑提供的服务进行存储、发布、传播如下信息和内容：违反国家法律法规政策的任何内容（信息）；违反国家规定的政治宣传或新闻信息；涉及国家秘密或安全的信息；封建迷信或淫秽、色情、下流的信息或教唆犯罪的信息；博彩有奖、赌博游戏；违反国家民族和宗教政策的信息；妨碍互联网运行安全的信息；侵害他人合法权益的信息或其他有损于社会秩序、社会治安、公共道德的信息或内容。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_459_897783262  %} {% comment %}（11）您保证在本网站注册账户时使用的手机号码长期有效且手机号码进过实名认证，一旦发现手机号码无效，将视作您的账户无效，账户将会被禁用。{% endcomment %}</p>
      <p class="t1">{% t auto.key_460_589537313  %} {% comment %}（12）您有权利要求本公司为您支付的服务费用开取正规发票，但发票中的金额不包括充值活动等赠送部分。{% endcomment %}</p>
      <p class="t">{% t auto.key_461_188051420  %} {% comment %}4、美信拓扑的权利和义务{% endcomment %}</p>
      <p class="t1">{% t auto.key_462_473786999  %} {% comment %}（1）美信拓扑根据您选择的服务以及交纳款项的情况向您提供合格的服务。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_463_164244265  %} {% comment %}（2）美信拓扑承诺对您的资料、数据、用户信息采取对外保密措施，不向第三方披露您的资料，不授权第三方使用您的资料，除非：依据法律法规的规定应当提供，行政、司法等职权部门要求本公司提供；您同意本公司向第三方提供；本公司为解决举报事件、提起诉讼而提交的；您公开对外发布的；美信拓扑网站有权使用您在我站登记的公开资料和信息。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_464_444011435  %} {% comment %}（3）美信拓扑有权对您进行审核并决定是否接受您成为美信拓扑的客户。您通过美信拓扑的审核并成为美信拓扑的客户，并不代表美信拓扑需要对您的行为承担任何法律责任。{% endcomment %}</p>
      <p class="t1">{% t auto.key_465_449054504  %} {% comment %}（4）美信拓扑有权对您提交的应用信息进行审查并决定是否提供服务或关停服务。{% endcomment %}</p>
      <p class="t1">{% t auto.key_466_683234317  %} {% comment %}（5）美信拓扑保留在您违反国家、地方法律法规规定或违反本服务条款的情况下终止为您提供服务的权利，并且在任何情况下，对任何间接、偶然、特殊及继起的损害不承担法律责任。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_467_005631408  %} {% comment %}（6）对于您利用美信拓扑服务所发布的信息，美信拓扑保留依据国家相关法律法规对您通讯的信息进行关键词过滤的权利，如发现您发送内容明确存在违反国家相关法律法规的，本公司有权作出包括但不限于劝阻、拦截、直至向有关部门举报等行为。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_468_194818978  %} {% comment %}（7）本公司保留在您的应用滥用系统资源的情况下，强制关闭服务及冻结帐户的权利。{% endcomment %}</p>
      <p class="t1">{% t auto.key_469_915192899  %} {% comment %}（8）本公司保留因系统或服务升级，要求您强制升级应用和对本公司旧版本SDK停止提供服务的权利。{% endcomment %}</p>
      <p class="t1">{% t auto.key_470_423982515  %} {% comment %}（9）本公司仅按现有技术提供相应的安全措施来使本公司掌握的信息不丢失、不被滥用和伪造。这些安全措施包括数据备份和加密。您认可尽管有这些安全措施，但本公司不保证这些信息的绝对安全。{% endcomment %}</p>
      <p class="t1">{% t auto.key_471_195809913  %} {% comment %}（10）对于其它任何由美信拓扑服务衍生的商业软件和服务，本公司有权停止未经授权的衍生商业软件和服务的服务并向其开发方提出赔偿要求。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_472_045353916  %} {% comment %}（11）如果您通过美信拓扑平台授权在第三方开通基础设施资源账号，在服务运行期间，美信拓扑有权更换、升级、注销此账号。如果第三方服务存在系统运行异常以及系统安全以及数据安全问题，因此导致的责任和损失由您自行承担，美信拓扑无义务承担任何责任、赔偿或补偿。{% endcomment %}
      </p>
      <p class="t">{% t auto.key_473_114088893  %} {% comment %}5、费用{% endcomment %}</p>
      <p class="t1">{% t auto.key_474_626498692  %} {% comment %}（1）美信拓扑的服务费用标准以美信拓扑的实际定价为准。您在登录美信拓扑平台后，可以通过管理后台查看账户信息，提交订单，开通、中止或终止服务项目，充值及查看账单等操作。{% endcomment %}</p>
      <p class="t1">{% t auto.key_475_425508239  %} {% comment %}（2）在您提交订单并在付费后方可享受美信拓扑提供的服务。如您提交订单后3日内未付款的，本服务条款及与您就服务达成的一切协议无效。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_476_175076667  %} {% comment %}（3）服务期满后双方达成一致，继续由美信拓扑向您提供服务的，您应至少在服务期满前7日支付续费款项。如续费时美信拓扑对产品名称、服务或价格进行了调整的，双方同意按照续约当时有效的新的产品名称、服务和价格由提供服务。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_477_768234116  %} {% comment %}（4）美信拓扑服务为预充值开通使用，您需保障您的美信拓扑账户可用余额充足，预充值费用一经支付不予退还。您账户可用额度不足时，您应及时充值，您的账户可用额度以美信拓扑管理后台展示的金额为准。美信拓扑公司有权在您账户可用额度小于0时起，暂停向您提供美信拓扑服务，因此造成的任何损失，由您自行承担。美信拓扑保留在您未按照约定支付全部费用之前不向您提供服务或终止服务的权利；并且保留对您逾期支付行为追究法律责任的权利。逾期欠款将从服务停止之日起按照每日千分之一缴纳滞纳金。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_478_104203326  %} {% comment %}（5）美信拓扑将于您订阅美信拓扑服务首日开始计费，每自然月扣费一次。您可要求美信拓扑就已完成扣费的金额开具增值税发票，并请根据美信拓扑的要求提供开具发票所需的必要信息。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_479_663556136  %} {% comment %}（6）您可根据美信拓扑的安排享受优惠活动及赠送服务项目。您充分了解美信拓扑的所有赠送服务项目和涉及价格的活动均为在正常服务价格之外的一次性特别优惠，优惠内容不包括赠送服务项目的修改、更新和维护费用，并且赠送服务项目不可折价冲抵服务价格、不可兑换现金。如赠送美信拓扑账户充值额的，需在实际支付部分消耗完毕后再消耗赠送部分。{% endcomment %}
      </p>
      <p class="t">{% t auto.key_480_767713705  %} {% comment %}6、美信拓扑服务及服务条款的变更、中止和终止{% endcomment %}</p>
      </p>
      <p class="t1">
        {% t auto.key_481_086680844  %} {% comment %}（1）美信拓扑服务始终在不断变更和改进服务。美信拓扑服务可能会增加或删除部分功能或服务，也可能暂停或彻底停止本产品。如果美信拓扑或本服务条款的内容发生重大变更，美信拓扑应该提前在美信拓扑网站或产品其他平台的适当位置公告重大变更的内容。如您继续使用美信拓扑产品或服务，则视为您接受上述变更。如您不接受上述变更，您有权继续按照变更前的内容和标准使用变更部分的美信拓扑服务直至该部分服务对应的有效订单下的预付款耗尽或停止使用美信拓扑服务。如您选择停止使用美信拓扑服务，美信拓扑应与您进行结算，并且您应将业务数据迁出。{% endcomment %}
      </p>
      <p class="t1">
        {% t auto.key_482_020769815  %} {% comment %}（2）若美信拓扑因业务发展需要等删除、暂停或彻底停止部分或全部服务，除法律有明确规定的情况外，美信拓扑公司有权不经您申请直接为您办理实际支付但未消耗部分充值金额的退款，并对应清空您在美信拓扑账户内的余额、充值额、代金券、优惠券等。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_483_026500221  %} {% comment %}（3）若您在美信拓扑服务期届满前要求终止服务的，美信拓扑将依据办理流程确认您是否满足终止服务及退款的条件，具体的办理流程以《{% endcomment %}<a
          href="{% t link.base %}refund-policy/">{% t auto.key_409_814378500  %} {% comment %}美信拓扑终止服务流程{% endcomment %}</a>{% t auto.key_484_913993300  %} {% comment %}》为准。{% endcomment %}</p>

      <p class="t">{% t auto.key_485_206851136  %} {% comment %}7、隐私条款{% endcomment %}</p>
      <p>{% t auto.key_486_026397651  %} {% comment %}在您使用美信拓扑服务的过程中，美信拓扑会按照如下方式收集您在使用服务时主动提供或者因为使用服务而产生的信息，用以向您提供服务、优化我们的服务以及保障您的账号安全：{% endcomment %}</p>
      <p class="t1">{% t auto.key_487_767189989  %} {% comment %}（1）当您使用美信拓扑服务时，我们会收集您用户的昵称、头像、UserID，若您不提供这类信息，您可能无法正常使用美信拓扑的全部服务。{% endcomment %}</p>
      <p class="t1">{% t auto.key_488_884955552  %} {% comment %}（2）当您使用美信拓扑服务时，我们会存储您用户的消息数据，若您不同意存储这类消息，您可能无法正常使用美信拓扑的全部服务。{% endcomment %}</p>
      <p class="t1">{% t auto.key_489_163936424  %} {% comment %}（3）当您使用美信拓扑服务时，我们会收集您用户的终端设备信息，包括操作系统版本、应用包名、屏幕尺寸、操作系统的名称版本号、时区、语言、网络类型（WIFI，5G，4G，3G，2G等）、App{% endcomment %}</p>
      {% t auto.key_490_218785461  %} {% comment %}版本号、设备型号、手机网络运营商等终端设备信息，收集这些信息是为了您的用户可以正常使用我们的服务，为我们持续改进我们的服务提供帮助。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_491_678492959  %} {% comment %}（4）当您使用美信拓扑服务时，我们会收集SDK日志信息，包括SDK版本号、用户Token、APPID、用户的手机制造商、操作系统的名称版本号、网络类型、运营商代码、接口调用的错误码、链接失败的错误码，收集这些信息是为了解决您使用美信拓扑服务时可能遇到的问题。若您不提供这类信息，将影响问题排查。{% endcomment %}
      </p>
      <p class="t1">
        {% t auto.key_492_364234686  %} {% comment %}（5）本公司会向与本公司合作为您提供产品和服务的合作伙伴，或者帮助本公司向客户进行营销的合作伙伴提供某些用户信息；本公司会为改进本公司产品、服务和广告宣传之目的而与第三方共享部分信息，但本公司不会为第三方的营销目的向第三方提供信息，更不会销售用户信息。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_493_714758864  %} {% comment %}（6）当您同意本服务条款或使用本服务，您即同意本公司按照以下条款来使用和披露您的个人信息。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_494_656634265  %} {% comment %}（7）用户名和密码：要求您注册时，设置用户名和密码来识别您的身份。您仅可通过您设置的密码来使用该账户，如果您泄漏了密码，您可能会丢失您的个人识别信息，并可能导致对您不利的法律后果。该账户和密码因任何原因受到潜在或现实危险时，您应该立即和本公司取得联系，在本公司采取行动前，本公司对此不负任何责任。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_495_090332272  %} {% comment %}（8）注册信息：您注册账户时应向本公司提供您企业或组织的名称、地址、电话号码和电子邮件地址等，为有针对性地向您提供服务，您了解并同意本公司将通过您的电子邮件地址通知您这些信息。{% endcomment %}</p>
      <p class="t1">{% t auto.key_496_609747980  %} {% comment %}（9）银行或支付宝账户信息：若本公司所提供的服务需要您提供您的银行或支付宝账户信息，在您提供相应信息后，我公司将严格履行相关保密约定。{% endcomment %}</p>
      <p class="t1">{% t auto.key_497_659640436  %} {% comment %}（10）根据相关法律法规及国家标准，以下情形中，我们可能会收集、使用您的相关用户信息无需征求您的授权同意:{% endcomment %}</p>
      <p class="t2">{% t auto.key_498_503683099  %} {% comment %}1）与国家安全、国防安全等国家利益直接相关的；{% endcomment %}</p>
      <p class="t2">{% t auto.key_499_628215605  %} {% comment %}2）与公共安全、公共卫生、公众知情等重大公共利益直接相关的；{% endcomment %}</p>
      <p class="t2">{% t auto.key_500_451239703  %} {% comment %}3）与犯罪侦查、起诉、审判和判决执行等直接相关的；{% endcomment %}</p>
      <p class="t2">{% t auto.key_501_981142427  %} {% comment %}4）出于维护您的用户或其他个人的生命、财产、声誉等重大合法权益但又很难得到本人同意的；{% endcomment %}</p>
      <p class="t2">{% t auto.key_502_053918915  %} {% comment %}5）所收集的用户信息是您自行向社会公众公开的；{% endcomment %}</p>
      <p class="t2">{% t auto.key_503_460902487  %} {% comment %}6）从合法公开披露的信息中收集用户信息的，如合法的新闻报道、政府信息公开等渠道；{% endcomment %}</p>
      <p class="t2">{% t auto.key_504_781807109  %} {% comment %}7）根据您要求签订和履行合同所必需的；{% endcomment %}</p>
      <p class="t2">{% t auto.key_505_400708631  %} {% comment %}8）用于维护所提供的产品或服务的安全稳定运行所必需的，例如发现、处置产品或服务的故障；{% endcomment %}</p>
      <p class="t2">{% t auto.key_506_750689242  %} {% comment %}9）为开展合法的新闻报道所必需的；{% endcomment %}</p>
      <p class="t2">{% t auto.key_507_848150471  %} {% comment %}10）出于公共利益开展统计或学术研究所必要，且其对外提供学术研究或描述的结果时，对结果中所包含的用户信息进行去标识化处理的；{% endcomment %}</p>
      <p class="t2">{% t auto.key_508_140970802  %} {% comment %}11）法律法规规定的其他情形。{% endcomment %}</p>
      <p class="t">{% t auto.key_509_249973744  %} {% comment %}8、保密条款{% endcomment %}</p>
      <p class="t1">{% t auto.key_510_678812672  %} {% comment %}（1）服务双方向对方披露的所有技术及非技术信息均列为保密信息。包括但不限于产品资料，产品计划，产品价格，财务及营销规划，用户数据，代码库，API应用数据接口，技术说明，设计，特殊公式，特殊算法等。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_511_897448512  %} {% comment %}（2）服务双方同意对获悉的对方之上述保密资料予以保密，并严格要求接触上述保密信息的员工遵守本条之保密义务。除非国家机关依法强制要求或上述保密资料已经进入公有领域外，接收保密资料的一方不得对外披露。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_512_170251483  %} {% comment %}（3）服务双方明确认可各自的业务数据等是各自的重要资产及重点保密信息，服务双方应保护上述保密信息等不被披露，一旦发现有上述保密信息泄露事件，服务双方应采取一切合理措施避免或者减轻损害后果。{% endcomment %}</p>
      <p class="t1">{% t auto.key_513_686823725  %} {% comment %}（4）本条款不因本服务条款的终止而失效。{% endcomment %}</p>
      <p class="t">{% t auto.key_514_669863112  %} {% comment %}9、责任范围与责任限制{% endcomment %}</p>
      <p class="t1">{% t auto.key_515_576263214  %} {% comment %}（1）本公司仅对本服务条款中列明的责任承担法律责任，责任限额不超过您使用美信拓扑服务所支付的费用。{% endcomment %}</p>
      <p class="t1">{% t auto.key_516_207874486  %} {% comment %}（2）有关您的信息是由您本人自行提供的，我公司无法保证该信息之准确、及时和完整。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_517_393330330  %} {% comment %}（3）如发生下述情形，本公司不承担任何法律责任：依据法律规定或相关政府部门的要求提供您的注册信息与用户信息；由于您的使用不当而导致任何用户信息的泄露；任何由于黑客攻击，电脑病毒侵入，非法内容信息、骚扰信息的屏蔽，政府管制以及其他任何网络、技术、通信线路、信息安全管理措施等原因造成的服务中断、受阻等不能满足使用要求的情形；您的用户因第三方如运营商的通讯线路故障、技术问题、网络、电脑故障、系统不稳定及其他因不可抗力造成的损失的情形；使用美信拓扑服务可能存在的来自他人匿名或冒名的含有威胁、诽谤、令人反感或非法内容的信息而招致的风险。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_518_375927126  %} {% comment %}（4）本公司不对美信拓扑服务提供任何形式的保证，包括但不限于以下事项：本服务符合您的需求；本服务不受干扰、及时提供或免于出错。{% endcomment %}</p>
      <p class="t1">{% t auto.key_519_164557546  %} {% comment %}（5）美信拓扑服务的合作单位所提供的第三方服务品质及内容由该合作单位自行负责。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_520_778784278  %} {% comment %}（6）在法律允许的情况下，本公司对于与本服务条款有关或由本服务条款引起的任何间接的、惩罚性的、特殊的、派生的损失（包括但不限于业务损失、收益损失、利润损失或其他经济利益的损失），不论是如何产生的，也不论是由对本服务条款的违约（包括违反保证）还是由侵权造成的，均不承担任何法律责任。{% endcomment %}
      </p>
      <p class="t">{% t auto.key_521_917020260  %} {% comment %}10、商标与知识产权{% endcomment %}</p>
      <p class="t1">{% t auto.key_522_200094201  %} {% comment %}（1）美信拓扑服务由本公司研发和提供。美信拓扑的专利、版权、设计等知识产权，以及与美信拓扑相关的所有信息内容，包括但不限于著作、图片、档案、资讯、资料、架构、页面设计，均由本公司依法拥有其知识产权。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_523_126785194  %} {% comment %}（2）除本公司或商业授权明示同意外，美信拓扑客户无权复制、传播、转让、许可或提供他人使用上述资源，否则必须承担相应的责任。{% endcomment %}</p>

      <p class="t1">{% t auto.key_524_811404218  %} {% comment %}（3）美信拓扑平台上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由本公司依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。{% endcomment %}</p>
      <p class="t">{% t auto.key_525_976855088  %} {% comment %}11、不可抗力条款{% endcomment %}</p>
      {% t auto.key_526_518448829  %} {% comment %}美信拓扑对不可抗力导致的损失不承担责任。本服务条款所指不可抗力包括：天灾、法律法规或政府指令的变更，因网络服务特性而特有的原因，例如境内外基础电信运营商的故障、光缆等基础设施损坏、计算机或互联网相关技术缺陷、互联网覆盖范围限制、计算机病毒、黑客攻击等因素，及其他合法范围内的不能预见、不能避免并不能克服的客观情况。{% endcomment %}
      </p>
      <p class="t">{% t auto.key_527_527704788  %} {% comment %}12、使用条款{% endcomment %}</p>
      <p class="t1">{% t auto.key_528_177454355  %} {% comment %}（1）您有权选择美信拓扑提供的服务内容，并获得美信拓扑提供的技术支持。{% endcomment %}</p>
      <p class="t1">{% t auto.key_529_184379678  %} {% comment %}（2）您保证您使用美信拓扑服务或通过美信拓扑服务发布内容时将遵从国家、地方法律法规、行业惯例和社会公共道德，并且不会利用美信拓扑服务进行存储、发布、传播如下信息和内容：{% endcomment %}</p>
      <p class="t2">{% t auto.key_530_697808266  %} {% comment %}（a）违反国家法律法规政策的任何内容（信息）；{% endcomment %}</p>
      <p class="t2">{% t auto.key_531_798212743  %} {% comment %}（b）违反国家规定的政治宣传或新闻信息；{% endcomment %}</p>
      <p class="t2">{% t auto.key_532_517383910  %} {% comment %}（c）涉及国家秘密或安全的信息；{% endcomment %}</p>
      <p class="t2">{% t auto.key_533_865953357  %} {% comment %}（d）封建迷信或淫秽、色情、下流的信息或教唆犯罪的信息；{% endcomment %}</p>
      <p class="t2">{% t auto.key_534_575159202  %} {% comment %}（e）博彩有奖、赌博游戏；{% endcomment %}</p>
      <p class="t2">{% t auto.key_535_374324080  %} {% comment %}（f）违反国家民族和宗教政策的信息；{% endcomment %}</p>
      <p class="t2">{% t auto.key_536_767387762  %} {% comment %}（g）妨碍互联网运行安全的信息；{% endcomment %}</p>
      <p class="t2">{% t auto.key_537_122748437  %} {% comment %}（h）侵害他人合法权益的信息；{% endcomment %}</p>
      <p class="t2">{% t auto.key_538_230669734  %} {% comment %}（i）其他有损于社会秩序、社会治安、公共道德的信息或内容。{% endcomment %}</p>
      <p class="t1">{% t auto.key_539_379621320  %} {% comment %}（3）如您有违反以上承诺的行为，则此等行为导致的后果与美信拓扑无关。如有确切记录证明您违反上述承诺的，美信拓扑可以解除与您的服务合同关系并要求相应的赔偿。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_540_954909778  %} {% comment %}（4）您应遵守美信拓扑的所有其他规定和程序。您须对其在使用美信拓扑服务过程中的行为承担法律责任。您承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在美信拓扑首先承担了因您的行为导致的行政处罚或侵权损害赔偿责任后，您应给予美信拓扑等额的赔偿。若您违反以上规定，美信拓扑有权作出独立判断立即暂停或终止对您提供部分或全部服务，包括冻结、取消您的账号的使用权限等措施。{% endcomment %}
      </p>
      <p class="t1">
        {% t auto.key_541_498232361  %} {% comment %}（5）对于您利用美信拓扑所发布的信息，美信拓扑保留依据国家相关法律法规对其通讯的信息进行关键词过滤的权利，如发现您发送内容明确存在违反国家相关法律法规的，美信拓扑有权作出包括但不限于劝阻、拦截、直至向有关公安部门举报等行为。{% endcomment %}
      </p>
      <p class="t1">
        {% t auto.key_542_176624732  %} {% comment %}（6）美信拓扑公司或美信拓扑产品委托的第三方有权对您提供的应用产品及内容进行审核，包括但不限于内容审查、功能性测试、安全性测试等。如果发现您的应用产品不符合国家法律法规、政策规定，或您提供的应用产品可能侵犯他人合法权益或含有对其他第三方的广告信息等内容，或其他认为不符合要求的情况，美信拓扑有权不向其提供服务；已提供服务的，美信拓扑有权立即停止继续向其提供服务，并保存有关记录向相关主管部门报告。但是，该项约定不视为美信拓扑对您提供的应用产品提供合法性担保，您应自行对应用产品提供保证，并承担由此引发的所有责任。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_543_301673293  %} {% comment %}（7）如果您通过美信拓扑提供的服务进行经营或者非经营性活动需要获得国家有关部门许可或批准的，应当获得有关的许可或批准。{% endcomment %}</p>
      <p class="t1">{% t auto.key_544_510233449  %} {% comment %}（8）除经许可外，您不得修改、翻译、出版、改编、出租、转许可或以其他方式传播或转让美信拓扑提供的服务或软件。也不得逆向工程、反编译或试图以其他方式发现美信拓扑的任何源代码。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_545_256789027  %} {% comment %}（9）您保证不得滥用美信拓扑服务，包括但不限于利用美信拓扑服务进行侵害美信拓扑公司或他人的知识产权或者合法利益的其他行为，不得利用美信拓扑服务向第三方提供与美信拓扑服务直接竞争的服务等。如美信拓扑发现您违反本服务条款的约定，有权根据情况采取相应的处理措施，包括但不限于立即终止服务、中止服务或删除相应信息等。如果第三方机构或个人对您提出质疑或投诉，美信拓扑将通知您，您有责任在规定时间内进行说明并出具证明材料，如您未能提供相反证据或您逾期未能反馈的，美信拓扑将采取包括但不限于立即终止服务、中止服务或删除相应信息等处理措施。因您未及时更新联系方式或联系方式不正确而致使未能联系到您的，亦视为您逾期未能反馈。{% endcomment %}
      </p>
      <p class="t1">
        {% t auto.key_546_185802852  %} {% comment %}（10）您了解美信拓扑无法保证其所提供的服务毫无瑕疵，但美信拓扑承诺不断提升服务质量及服务水平。所以您同意：即使美信拓扑提供的服务存在瑕疵，但上述瑕疵是当时行业技术水平所无法避免的，其将不被视为美信拓扑违约。您同意和美信拓扑一同合作解决上述瑕疵问题。{% endcomment %}
      </p>
      <p class="t1">{% t auto.key_547_115935638  %} {% comment %}（11）若您在美信拓扑服务期届满前要求终止服务的，美信拓扑将依据办理流程确认您是否满足终止服务及退款的条件，具体的办理流程以美信拓扑的相关规定为准。{% endcomment %}</p>
      <p class="t">{% t auto.key_548_277000740  %} {% comment %}13、法律适用与管辖{% endcomment %}</p>
      <p class="t1">{% t auto.key_549_851041189  %} {% comment %}（1）本服务条款中的任何条款无论因何种原因完全或部分无效或不具有执行力，本服务条款的其余条款仍应有效且具有约束力。{% endcomment %}</p>
      <p class="t1">
        {% t auto.key_550_796343122  %} {% comment %}（2）本服务条款之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本服务条款产生之争议，首先应友好协商解决，协商不成的应依照中华人民共和国法律予以处理，并提交本公司所在地有管辖权的法院诉讼解决。{% endcomment %}</p>
      <p class="t1">{% t auto.key_551_878751899  %} {% comment %}（3）客户对服务的任何部分或本服务条款的任何部分之意见或建议可通过邮件与本公司联系。本公司邮箱：{% endcomment %}<a
          href="mailto:support@maximtop.com">support@maximtop.com</a> {% t auto.key_552_091571027  %} {% comment %}。本公司保留对本服务条款之解释权。{% endcomment %}</p>
    </div>












  </div>
</body>

</html>